@model IEnumerable<FEM.Application.DTOS.MatchViewModel>

@{
    ViewData["Title"] = "Home Page";
}


<style>
   .match {
        display: flex;
        background-color: aqua;
        height: 3rem;
        justify-content: space-around;
        align-items: center;
    }
</style>

<partial name="_MatchFilterPartial" />



<div id="matches-list">
    @foreach(var itm in Model)
    {
        <div class="match">
            <div>@itm.Team1.Name</div>
            <div>@itm.Date.ToString("yyyy-MM-dd HH:mm")</div>
            <div>@itm.Team2.Name</div>
        </div>
    }
</div>